:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(161, 38, 38);
  display: flex;
}

.birthday-image {
  border-radius: 16px;
  border: solid 3px;
  max-width: 500px;
  max-height: 750px;
  width: 80vh;
}

.slide-in-link {
  position: absolute; /* damit wir es verschieben können */
  display: inline-block;
  opacity: 0; /* anfänglich unsichtbar */
  transform: translate(-50%, -50%); /* Start links außerhalb des Bildschirms */
  animation: slideIn 1s forwards; /* Animation anwenden */
  animation-delay: 1500ms; /* Verzögerung in Sekunden */
}

/* Keyframes definieren */
@keyframes slideIn {
  to {
    transform: translateX(0); /* Endposition */
    opacity: 1; /* sichtbar */
  }
}
